.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container .ruler_container {
  white-space: nowrap;
  box-sizing: border-box;
  position: relative;
  height: 50px;
  overflow: auto;
}
.container .ruler_container .interval {
  display: inline-block;
  height: 20px;
  box-sizing: border-box;
  margin-top: 10px;
  position: relative;
}
.container .ruler_container .interval::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 1px;
  height: 20px;
  background: #000;
}
.container .ruler_container .intervallast-child::after {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 1px;
  height: 20px;
  background: #000;
}
.container .ruler_container .interval .scale {
  margin-top: 5px;
  display: inline-block;
  box-sizing: border-box;
  width: 5px;
  white-space: nowrap;
  height: 15px;
}
.container .ruler_container .interval .scale:not(:first-child) {
  border-left: solid 1px #888;
}
.container .ruler_container .interval .after_number,
.container .ruler_container .interval .number {
  display: block;
  position: absolute;
  z-index: 4;
  top: 25px;
}
.container .ruler_container .interval .number {
  transform: translateX(-50%);
  left: 0;
}
.container .ruler_container .interval .after_number {
  transform: translateX(50%);
  right: 0;
}
.container .ruler_container .interval .left_mask {
  position: absolute;
  top: 0;
  left: -1px;
  height: 50px;
  width: 50px;
  z-index: 3;
  background: -webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0.5));
}
.container .ruler_container .interval .right_mask {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  z-index: 3;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5), #ffffff);
}
.container .pointer {
  border-left: solid 2px red;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  z-index: 999;
}
